PORT=3002
API_SECRET=your_backend_api_secret_here

BACKEND_WS_URL=ws://localhost:3002/agent-connect
AGENT_ID=main

OPENCLAW_GATEWAY_URL=http://local.vps:1111/
OPENCLAW_AGENT_ID=main
OPENCLAW_GATEWAY_TOKEN=test-getaway
